<form action="/bookmarks" method="post">
  <label for="title">
    Site
    <input type="text" name="title">
  </label>
  <label for="bookmark">
    URL
    <input type="text" name="bookmark">
  </label>
  <input type="submit" value="Add bookmark">
</form>
